QWidget 
{
	font-family: <<FONT_FAMILY>>;
	font-size: <<FONT_SIZE>>pt;
}


DirectoryTreeView,
FileListView,
Library--View,
Library--GenreView,
Library--ItemView
{
	      font-size: <<FONT_SIZE_LIB>>pt;
		  font-weight: <<FONT_WEIGHT_LIB>>;
}

PlaylistView
{
    font-size: <<FONT_SIZE_PL>>pt;
}

QFrame#player_frame, 
	QFrame#genre_frame
	QFrame#my_frame, 
	QFrame#my_frame_2, 
	QFrame#my_frame_3
{
	padding: 0px;
	background-repeat: no-repeat;
	border: none;
}


QListView,
LibraryView,
LibraryGenreView,
DirectoryTreeView,
FileListView
{
    font-size: <<FONT_SIZE_LIB>>pt;
    font-weight: <<FONT_WEIGHT_LIB>>;
}

PlaylistView
{
    font-size: <<FONT_SIZE_PL>>pt;
}

QComboBox
{
	padding-left: 2px;
	padding-right: 1ex;
}

QComboBox,
QLineEdit
{
	min-height: 3ex;
	height: 3ex;
}
